<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.webtech.Mapper.VeriMapper">
    <select id="findByImg" resultType="com.example.webtech.entity.Verification">
        select * from t_pic where id = #{num}
    </select>
</mapper>